body{
    
}

h3{
	font-family: Verdana, Arial;
    font-size: 150%;
    color: black;
	text-align: center;	
}

p{
    display: inline;

	font-family: Verdana, Arial;
    color: rgb(62, 62, 62);
    font-size: 124%;

}

section{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;

    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;

    text-indent: 5em;
}